.contentWraper {
    font-family: "Montserrat", sans-serif;
    height: calc(100vh - 2.3vw);
    
    .prova {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        
        .numero {
            color: var( --primary-white);
            text-transform: uppercase;
            font-weight: 800;
            font-size: 8vw;
        }
    }
    
    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);    
        
        .title {
            color: var( --primary-white);
            text-transform: uppercase;
            font-weight: 800;
            font-size: 4.8vw;
            width: 100%;
            text-align: center;
        }
    } 

    .nextLink {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 2vw;
        right: 0;
        bottom: 25%;
        height: 50vh; 
        width: 5vw;
        background-color: var(--primary-black);
        opacity: 0;
    }
    .nextLink:hover {
        opacity: 1;
        transition: 1s;
    }
    
    .linkPrev {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 2vw;
        left: 0;
        bottom: 25%;
        height: 50vh; 
        width: 10vw;
        background-color: var(--primary-black);
        opacity: 0;
    }
    .linkPrev:hover {
        opacity: 1;
        transition: 1s;
    }
}
