.content {
    height: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .contentWrapper {
        display: flex;
        align-items: flex-start;
        gap: 20vw;

        .labelContent {
            position: relative;
        }
    }

    .title {
        color: var(--primary-white);
        font-size: 3vw;
        font-weight: 700;
        margin-bottom: 3vw;
    }
}