@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-white: #ffffff;
    --primary-black: #131313;
    --secondary-yellow: #CCFF00;
    --secondary-gray: #CDCDCD;
}

body {
    font-family: "Montserrat", sans-serif;
}