.navContent {
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: flex-start;

    .title{
        color: var( --primary-white);
        text-transform: uppercase;
        font-weight: 800;
        font-size: 8.5vw;
        line-height: 6.5vw;
    }
} 