.navContent {
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: start;
    justify-content: space-between;

    .title{
        color: var( --primary-white);
        text-transform: uppercase;
        font-weight: 800;
        font-size: 8.5vw;
        line-height: 6.5vw;
    }

    .burgerMenu {
        height: 1.3vw;
        width: 4vw;
        background-color: red ;
    }
} 