.nav {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    padding-left: 15vw;
    box-sizing: border-box;
    .body {
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 1vw;
        flex-direction: column;
        align-items: flex-start;

        a {
            line-height: 4.2vw;
            color: black;
            text-decoration: none;
            font-size: 4.5vw;
            font-weight: 900;
            // width: 35vw;
        }
        
    }
}
.prova1 {
    display: block; 
    overflow: hidden; 
    position: relative;
    
    .prova2 {
        display: inline-block; 
    }
    
    .prova3 {
        position: absolute; 
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; 

        .prova4 {
            display: inline-block; 
        }
    }
}