.pageContent {
    height: calc(100vh - 2.3vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .numeroWrapper {
        width: calc(100vw - 6vw);
        display: flex;
        align-items: flex-start;
        
        .numero {
            width: 25vw;
            line-height: 6vw;
            color: var( --primary-white);
            text-transform: uppercase;
            font-weight: 800;
            font-size: 8vw;
        }
    }
    
    .intro {
        position: absolute;
        top: 4vw;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: .65vw;
    }
    
    .mainContent {
        max-width: 50vw;
        gap: 10vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .text {
            color: white;
            font-size: .7vw;
            font-weight: 300;
            max-width: 20vw;
        }
        
        img {
            height: 20vw;
            width: 12vw;
            filter: brightness(70%);
        }
    }
    
    .footer {
        font-size: .7vw;
        width: calc(100vw - 6vw);
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        color: white;
    }

    .nextLink {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 2vw;
        right: 0;
        bottom: 25%;
        height: 50vh; 
        width: 5vw;
        background-color: var(--primary-black);
        opacity: 0;
    }
    .nextLink:hover {
        opacity: 1;
        transition: 1s;
    }
    
    .linkPrev {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 2vw;
        left: 0;
        bottom: 25%;
        height: 50vh; 
        width: 10vw;
        background-color: var(--primary-black);
        opacity: 0;
    }
    .linkPrev:hover {
        opacity: 1;
        transition: 1s;
    }
}
