.pageContent {
    height: calc(100vh - 2.3vw);
    display: flex;
    flex-direction: column;

    .numeroWrapper {
        display: flex;
        align-items: flex-start;

        .numero {
            width: 25vw;
            color: var( --primary-white);
            text-transform: uppercase;
            font-weight: 800;
            font-size: 8vw;
        }
    }

    .intro {
        position: absolute;
        top: 4vw;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: .65vw;
    }

    .mainContent {
        display: flex;
        align-items: center;
        justify-content: center;
        
        .text {
            color: white;
        }
    }
    
    .footer {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        color: white;

       .settimana {

       } 

       .data {

       }

       .topic {

       }
    }
}
