.line {
    width: 100%;
    height: 1px;
    background-color: var(--primary-white);

}

.content {
    width: 100%;
    color: var(--primary-white);
    
    p {
        margin: 0;
        padding: 1vw 0 1vw 0;
        transition: all 0.2s;
    }

    p:hover {
        transform: translateX(1vw);
    }
}
    

