.titleLine {
    border-top: 1px solid var(--primary-white);
    display: flex;
    align-items: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 25vw;
    
    .title {
        color: var(--primary-white); 
    }
}