.button {
    height: 1.4vw;
    width: 3.8vw;
    border-radius: 1vw;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
    .slider {
        position: relative;
        height: 100%;
        width: 100%;

        .el {
            height: 100%;
            width: 100%;
            background-color: var(--secondary-yellow);
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            
    
            &:nth-of-type(2) {
                position: absolute;
                top: 100%;
                background-color: black;
                color: white;
            }
        }
    }


}