.button {
    height: 1.4vw;
    width: 3.8vw;
    border-radius: 1vw;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    
    .slider {
        position: relative;
        height: 100%;
        width: 100%;

        .el {
            height: 100%;
            width: 100%;
            background-color: var(--secondary-yellow);
            text-transform: uppercase; 
            font-size: .65vw;
            
            &:nth-of-type(2) {
                position: absolute;
                top: 100%;
                background-color: black;
                color: white;
            }

            &:hover {
                .prospectiveText {
                    transform: rotateX(90deg);
                    p {
                        &:nth-of-type(1) {
                            transform: translateY(-100%);
                            opacity: 0;
                        }
                        &:nth-of-type(2) {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    
    .prospectiveText {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.7s cubic-bezier(0.75, 0, 0.24, 1);
        transform-style: preserve-3d;
        
        p {
            transition: all 0.7s cubic-bezier(0.75, 0, 0.24, 1);
            &:nth-of-type(2) {
                position: absolute;
                transform-origin: bottom center;
                transform: rotateX(-90deg) translateY(9px);
                opacity: 0;
            }
        }
    }
}